.menu-btn {
  position: relative;
  z-index: 1000;
  width: var(--size-xlarge);
  height: var(--size-xlarge);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(90deg, #a993fe -0.13%, #7e61e7 99.87%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.4 ease;
  display: none;
}

.menu-btn:hover {
  color: #a993fe;
  background: #000;
  border: 1px solid #a993fe;
}

.material-symbols-outlined {
  display: flex;
  flex-direction: column;
  gap: var(--size-xsmall);
}

.material-symbols-outlined > div {
  background-color: white;
  height: 3px;
  border-radius: 3px;
}

@media (max-width: 769px) {
  .menu-btn {
    display: block;
  }
}

.close-icon {
  /* to center the inner ICON */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-burger-close {
  position: absolute;
  top: var(--size-medium);
  right: var(--size-xlarge);
  background: #000;
  border: 1px solid #a993fe;
}
