.experience-container {
  margin: 64px 0;
  position: relative;
}

.experience-container h5 {
  margin-bottom: 48px;
}

.arrow-left,
.arrow-right {
  padding: 0 !important;
  border-radius: 9px;
  border: 1.5px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: calc(50% + 23px); /* 23 is the half of the height */
  z-index: 2;
}

.arrow-left {
  left: -var(--size-xlarge);
}

.arrow-right {
  right: -var(--size-xlarge);
}

@media (max-width: 1400px) {
  .arrow-left {
    left: 0px;
  }
  .arrow-right {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .experience-container h5 {
    margin-bottom: 30px;
  }

  .arrow-left {
    left: -var(--size-medium);
  }

  .arrow-right {
    right: -var(--size-medium);
  }
}
