.experience-container {
  margin: 64px 0;
  position: relative;
}

.experience-container h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 48px;
}

.arrow-left,
.arrow-right {
  padding: 0 !important;
  border-radius: 9px;
  border: 1.5px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 55%;
  z-index: 2;
}

.arrow-left {
  left: -32px;
}

.arrow-right {
  right: -32px;
}

@media (max-width: 1024px) {
  .arrow-left {
    left: 0px;
  }
  .arrow-right {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .experience-container h5 {
    margin-bottom: 32px;
  }

  .arrow-left {
    left: -16px;
  }

  .arrow-right {
    right: -16rem;
  }
}
