.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: var(--size-large);
}

.hero-container::after,
.hero-container::before {
  content: " ";
  width: 450px;
  height: 450px;
  border-radius: 450px;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.hero-container::after {
  top: -var(--size-xxlarge);
  left: -80px;
}

.hero-container::before {
  bottom: var(--size-xlarge);
  right: 0px;
}
.hero-content {
  margin-bottom: 130px;
}

.hero-title {
  font-size: 57px !important;
  margin-bottom: var(--size-medium);
}

.hero-subtitle {
  width: 84%;
}

.hero-img-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
}

.first-row {
  display: flex;
  align-items: baseline;
  gap: var(--size-medium);
}

.tool-icon {
  width: 80px;
  height: 80px;
  padding: var(--size-medium);
  border-radius: 10px;
  border: 1.5px solid #6852ba;
  transition: all 0.3s ease;
}

.tool-icon:hover {
  transform: translateY(-8px);
}

.second-row {
  display: flex;
  gap: var(--size-large);
  margin-left: 80px;
}

.hero-img-wrapper {
  gap: var(--size-medium);
}

.hero-img-wrapper > div {
  gap: var(--size-medium);
}

.hero-img-container {
  width: 756px;
  height: 472px;
  border-radius: var(--size-small);
  background-image: url("../../../public/assets/images/hero-section-photo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5;
}

.hero-main-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1220px) {
  .hero-title {
    font-size: 40px !important;
  }
  .hero-img-container {
    width: 560px;
    height: 350px;
  }
}

@media (max-width: 1024px) {
  .hero-title {
    font-size: var(--size-xlarge) !important;
  }

  .hero-subtitle {
    font-size: 12px !important;
    width: 77%;
  }

  .hero-img-container {
    width: 480px;
    height: 300px;
  }

  .second-row {
    width: var(--size-xxxlarge);
    height: var(--size-xxxlarge);
  }

  .tool-icon {
    width: var(--size-xxxlarge);
    height: var(--size-xxxlarge);
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-img-wrapper {
    margin: var(--size-xlarge) 0;
  }
  .hero-content {
    margin-bottom: 0;
  }

  .hero-title {
    text-align: center;
    margin: var(--size-medium) auto;
    max-width: 400px;
    font-size: var(--size-xlarge) !important;
  }
  .hero-subtitle {
    text-align: center;
    width: 92%;
    margin: 0 auto;
    font-size: 14px !important;
  }
  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 288px;
    height: 288px;
  }

  .hero-container::after {
    top: 0;
    left: 0;
  }
  .hero-container::before {
    bottom: var(--size-xlarge);
    right: 0;
  }
}

@media (max-width: 600px) {
  .hero-title {
    max-width: 310px;
    font-size: var(--size-large) !important;
  }

  .hero-img-container {
    width: 280px;
    height: 175px;
  }

  .tool-icon {
    width: var(--size-xxlarge);
    height: var(--size-xxlarge);
    padding: var(--size-small);
  }

  .hero-img-wrapper {
    gap: var(--size-medium);
    margin: var(--size-large) 0;
  }

  .first-row {
    gap: var(--size-medium);
  }

  .second-row {
    gap: var(--size-medium);
    margin-left: var(--size-xxxlarge);
  }
}

/* For responsive design */
@media screen and (max-width: 1024px) {
  .hero-main-img {
    width: 100%;
    height: auto;
    aspect-ratio: 756/472;
  }
}

@media screen and (max-width: 786px) {
  .hero-main-img {
    width: 100%;
    height: auto;
    aspect-ratio: 756/472;
  }
}

@media screen and (max-width: 430px) {
  .hero-main-img {
    width: 100%;
    height: auto;
    aspect-ratio: 756/472;
  }
}
