.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 24px;
}

.hero-container::after,
.hero-container::before {
  content: " ";
  width: 450px;
  height: 450px;
  border-radius: 450px;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.hero-container::after {
  top: -48px;
  left: -80px;
}

.hero-container::before {
  bottom: 32px;
  right: 0px;
}
.hero-content {
  margin-bottom: 130px;
}

.hero-title {
  font-size: 57px !important;
  margin-bottom: var(--size-medium);
}

.hero-subtitle {
  width: 84%;
}

.hero-img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.first-row {
  display: flex;
  align-items: baseline;
  gap: var(--size-medium);
}

.tool-icon {
  width: 80px;
  height: 80px;
  padding: var(--size-medium);
  border-radius: 10px;
  border: 1.5px solid #6852ba;
  transition: all 0.3s ease;
}

.tool-icon:hover {
  transform: translateY(-8px);
}

.second-row {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}

.hero-img-wrapper {
  gap: var(--size-medium);
}

.hero-img-wrapper > div {
  gap: var(--size-medium);
}

.hero-main-img {
  width: 756px;
  border-radius: 10px;
}

.tool-icon {
  width: 80px;
  height: 80px;
}

@media (max-width: 1220px) {
  .hero-title {
    font-size: 40px !important;
  }
  .hero-main-img {
    width: 560px;
  }
}

@media (max-width: 1024px) {
  .hero-title {
    font-size: 32px !important;
  }

  .hero-subtitle {
    font-size: 12px !important;
    width: 77%;
  }

  .hero-main-img {
    width: 480px;
  }

  .second-row {
    width: 64px;
    height: 64px;
  }

  .tool-icon {
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-img-wrapper {
    margin: 32px 0;
  }
  .hero-content {
    margin-bottom: 0;
  }

  .hero-title {
    text-align: center;
    margin: var(--size-medium) auto;
    max-width: 400px;
    font-size: 32px !important;
  }
  .hero-subtitle {
    text-align: center;
    width: 92%;
    margin: 0 auto;
    font-size: 14px !important;
  }
  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 288px;
    height: 288px;
  }

  .hero-container::after {
    top: 0;
    left: 0;
  }
  .hero-container::before {
    bottom: 32px;
    right: 0;
  }
}

@media (max-width: 600px) {
  .hero-title {
    max-width: 310px;
    font-size: 24px !important;
  }

  .hero-main-img {
    width: 280px;
  }

  .tool-icon {
    width: 48px;
    height: 48px;
    padding: 10px;
  }

  .hero-img-wrapper {
    gap: var(--size-medium);
    margin: 24px 0;
  }

  .first-row {
    gap: var(--size-medium);
  }

  .second-row {
    gap: var(--size-medium);
    margin-left: 64px;
  }
}
