@import "./colors.css";
@import "./sizes.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #c864c1;
}

body {
  width: 100%;
  color: #fff;
  background-color: #060417;
  overflow: auto;
  scrollbar-width: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
