.nav-wrapper {
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.1);
}

.nav-content {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin: 0 auto;
}

.logo {
  width: 172px;
  height: auto;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-content li {
  margin: 0 24px;
}

.menu-item {
  position: relative;
  cursor: pointer;
}

.menu-item::before {
  content: " ";
  width: 32px;
  height: 3px;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  border-radius: 6px;
  position: absolute;
  bottom: -9px;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  padding: 9px, 3px;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.contact-btn:hover {
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}

@media (max-width: 425px) {
  .logo {
    width: 160px;
    height: auto;
  }
}

@media (max-width: 769px) {
  .nav-content ul {
    display: none;
  }
}

@media (max-width: 1325px) {
  .nav-wrapper {
    padding: 0 32px;
  }
}
