.nav-wrapper {
  padding: var(--size-medium) var(--size-large);
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.1);
}

.nav-content {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-medium) 0;
  margin: 0 auto;
}

.logo {
  width: 172px;
  height: auto;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: var(--size-xxlarge);
  list-style: none;
}

.nav-content li {
  position: relative;
  cursor: pointer;
  padding: var(--size-small) 6px;
}

.nav-content li::before {
  content: " ";
  width: var(--size-xlarge);
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 0;
  border-radius: 6px;
  transition: all 0.2s ease;
  transform: translateX(-12px);
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
}

.nav-content li:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--c-primary);
  /*linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);*/
  padding: var(--size-small) 12px;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: var(--c-background);
  color: var(--primary-color);
  /*background: #000;*/
  outline: 1.5px solid #a993fe;
}

@media (max-width: 425px) {
  .logo {
    width: 160px;
    height: auto;
  }
}

@media (max-width: 769px) {
  .nav-content ul {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav-wrapper {
    padding: 0 var(--size-xlarge);
  }
  .nav-content ul {
    gap: var(--size-large);
  }
}

.nav-logo {
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  transition: opacity 0.2s ease-in-out;
}

.nav-logo:hover {
  opacity: 0.8;
}

.nav-logo:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
  border-radius: var(--size-xsmall);
}

.nav-logo:focus:not(:focus-visible) {
  outline: none;
}
