.skills-info-card {
  min-height: 348px;
  border-radius: var(--size-medium);
  border: 1.5px solid #6751b9;
  background: rgba(22, 17, 47, 0.398);
  backdrop-filter: blur(var(--size-medium));
  padding: var(--size-large);
}

.skills-info-card h6 {
  font-size: var(--size-medium);
  font-weight: 500;
  padding: 14px var(--size-xlarge);
  background: linear-gradient(180deg, #ac96ff 0%, #7c5fe6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1.5px solid #6751b9;
}

.skills-info-content {
  margin-top: var(--size-medium);
}

.skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-info p {
  font-size: var(--size-medium);
  font-weight: 500;
}

.skill-info .percentage {
  color: #dd8cfa;
}

.skill-progress-bg {
  width: 100%;
  height: var(--size-small);
  background: #382e68;
  border-radius: var(--size-small);
  margin: var(--size-medium) 0;
  overflow: hidden;
}

.skill-progress {
  width: 0%;
  height: var(--size-small);
  background: linear-gradient(90deg, #aa94fe -50%, #7d60e6 50%);
  border-radius: var(--size-small);
  transition: all 0.5s ease-in-out;
}
