.footer-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(90deg, #3d3072 0%, #423477 100%);
  padding: 16px;
}

.dev-icon,
.inyan-icon {
  background: linear-gradient(90deg, #3d3072 0%, #423477 100%);
  padding: 16px;
  cursor: pointer;
}
