.work-experience-card {
  background: #130f2a;
  border-radius: 9px;
  border: 1.5px solid #6751b9;
  padding: 24px;
  margin: 0 16px;
}

.work-experience-card h6 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 13px;
}

.work-duration {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  background: rgba(103, 81, 185, 0.5);
  border-radius: 6px;
  padding: 7px 9px;
  margin-bottom: 19px;
}

.work-experience-card ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  position: relative;
}

.work-experience-card ul li::after {
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #6751b9;
  border-radius: 8px;
  position: absolute;
  left: -11px;
  top: 4px;
}

@media (max-width: 768px) {
  .work-experience-card {
    margin: 0;
  }
  .work-experience-card h6 {
    font-size: 15px;
  }

  .work-experience-card ul li {
    font-size: 14px;
  }
}
