.work-experience-card {
  background: #130f2a;
  border-radius: var(--size-small);
  border: 1.5px solid #6751b9;
  padding: var(--size-large) 40px;
  margin: 0 var(--size-medium);
}

.work-experience-card h6 {
  font-size: var(--size-medium);
  font-weight: 500;
  margin-bottom: 13px;
}

.work-duration {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  background: rgba(103, 81, 185, 0.5);
  border-radius: var(--size-small);
  padding: 7px 9px;
  margin-bottom: 19px;
}

.list-item {
  list-style: none;
  font-size: var(--size-medium);
  font-weight: 400;
  margin-bottom: var(--size-small);
  position: relative;
}

.list-item::after {
  content: " ";
  width: var(--size-small);
  height: var(--size-small);
  background-color: #6751b9;
  border-radius: var(--size-small);
  position: absolute;
  left: -12px;
  top: 6px;
}

@media (max-width: 768px) {
  .work-experience-card {
    margin: 0;
  }

  .work-experience-card {
    min-height: 256px;
  }
}

@media (max-width: 430px) {
  .work-experience-card {
    min-height: 320px;
  }
}
