.contact-container {
  margin: 45px 0;
  position: relative;
}

.contact-content {
  display: flex;
  gap: 45px;
}

.container-text {
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
  }

  .contact-container h5 {
    margin-bottom: 32px;
  }
}
